.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo {
  height: 2rem;
  width: 2rem;
  background-color: var(--emphasis-color);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 50%;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.logo:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.link {
  font-family: Montserrat, Roboto, sans-serif;
  font-weight: bold;
}
.link:hover {
  color: var(--emphasis-color);
}

.nav {
  display: flex;
  align-items: center;
  display: none;
}

.nav-list {
  display: flex;
  padding: 0 1rem;
  gap: 2rem;
  align-items: center;
}

.burger {
  color: var(--text-color);
}

.burger-nav-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  z-index: 100;
  transform: translate(100%);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  height: 100vh;
}

.burger-nav {
  display: flex;
  flex-direction: column;
}

.change-display {
  display: block;
}

.burger-nav-container-active {
  transform: translate(0);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  opacity: 1;
}

.close-burger {
  align-self: flex-end;
  margin: 1rem;
}

.burger-nav-list {
  display: flex;
  flex-direction: column;
}

.burger-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
}
.burger-link:hover {
  background-color: var(--emphasis-color);
  color: var(--primary-color);
}
.burger-link:active {
  background-color: var(--emphasis-color);
  color: var(--primary-color);
}

.nav-icon {
  color: inherit;
}

@media screen and (min-width: 576px) {
  .burger {
    display: none;
  }
  .nav {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .nav-list {
    gap: 3rem;
  }
}
.main {
  flex-grow: 1;
}

.quote-section {
  max-width: 80%;
  margin: 120px auto 150px;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.quote > em {
  color: var(--emphasis-color);
}

.author {
  font-family: "EB Garamond", serif;
  align-self: flex-end;
}

.cards-section {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 6px 4px inset;
}

.cards-section-title,
.gallery-title {
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 1rem;
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
  min-width: 80%;
  margin: 6rem auto 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto 2rem;
}

.card {
  max-width: 340px;
  margin: 0 auto 4rem;
  padding: 1.5rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  text-align: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
  transform: scale(1.08);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.skill-stack {
  display: flex;
  justify-content: space-evenly;
  align-self: stretch;
}

.see-more {
  color: var(--extra-color);
  font-weight: bolder;
}
.see-more:hover {
  cursor: pointer;
  color: var(--emphasis-color);
}

.gallery {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.gallery-title {
  max-width: 80%;
}

.gallery-content {
  max-width: 80%;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
}

.gif-container {
  display: flex;
  flex-direction: column;
}

.gif {
  display: block;
  border-radius: 10px;
  margin-bottom: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 500px;
}

@media screen and (min-width: 576px) {
  .quote {
    font-size: 2.2rem;
  }
  .author {
    font-size: 1.1rem;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .card {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1100px) {
  .quote {
    font-size: 2.8rem;
  }
  .author {
    font-size: 1.4rem;
  }
  .cards {
    display: flex;
    flex-direction: row;
  }
  .gallery-content {
    flex-direction: row;
    gap: 2rem;
  }
  .gif {
    display: block;
    height: auto;
    margin: 0 auto 2rem;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1300px) {
  :root {
    font-size: 18px;
  }
  .cards {
    gap: 4rem;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

.app {
  min-height: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=App.css.map */