@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
	height: 100%;
	--primary-color: rgb(231, 231, 231);
	--secondary-color: rgb(148, 148, 148);
	--emphasis-color: rgb(201, 62, 62);
	--text-color: rgb(0, 0, 0);
	--extra-color: rgb(255, 255, 255);
}

::selection {
  background: var(--emphasis-color);
  color: var(--extra-color);
}

#root {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--text-color);
	font-family: Roboto, sans-serif;
}

body {
	height: 100%;
}
