:root {
	height: 100%;
	--primary-color: rgb(231, 231, 231);
	--secondary-color: rgb(148, 148, 148);
  --emphasis-color: rgb(201, 62, 62);
	--text-color: rgb(0, 0, 0);
  --extra-color: rgb(255, 255, 255);
}

#root {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  color: var(--text-color);
}

body {
	height: 100%;
}
